* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  display: grid;
  background: #fff;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  margin: 50px;
}
.container .left-side {
  position: relative;
  background: #003147;
  padding: 40px;
}
.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profileTxt .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.contantInfo {
  padding-top: 40px;
  color: #03a9f4;
}
.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.contactInfo ul li {
  position: relative;
  list-style: none;
  cursor: pointer;
  margin: 10px 0px;

}

.contactInfo ul li .info {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}
.container .right-side {
  position: relative;
  /* background: ; */
  padding: 40px;
}
